
 /* Custom CSS for product grid */
 
 .navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}
 nav img ,footer img{
    width: 25%;
    height: fit-content;
}
nav li{
    display: inline;
    text-transform: uppercase;
}
               
@media (min-width:100px) {
    nav img{
        width: 20%;
        height: fit-content;
    }
    footer img{
        width: 200px;
    }
    #navigation{
        display: flex;
        margin: 0;
    
    }
}

footer{
	height: 280px;
}